.about-section {
  width: 75vw;
  padding: 20px 0px;
}

.about-section > h1 {
  font-family: "Markazi Text", serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 50pt;
}

.about-section > h2 {
  font-family: "Markazi Text", serif;
  font-size: 30pt;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 30px;
}

.about-section > p {
  font-family: Karla, sans-serif;
  font-weight: 500;
  font-size: 16pt;
}

.about-images {
  width: 280px;
}

.about-images #A,
.about-images #B {
  border: solid 2px black;
}

@media only screen and (min-width: 320px) {
  .about-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-images #A,
  .about-images #B {
    width: 272px;
    height: 338px;
    border: solid 2px black;
    margin: 20px 0px;
  }
}

@media only screen and (min-width: 768px) {
  .about-images {
    position: relative;
    margin-left: 130px;
  }

  .about-images #A {
    position: absolute;
    z-index: 100;
  }

  .about-images #B {
    position: absolute;
    transform: scaleX(-1);
    top: 80px;
    right: 180px;
    z-index: -1;
  }
}

@media only screen and (min-width: 1024px) {
  .about-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-section {
    width: 30vw;
    margin-top: 50px;
  }

  .about-images {
    margin-bottom: 290px;
  }
}
