.primary-btn {
  width: 200px;
  height: 60px;
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;

  font-size: 16pt;
  font-family: Karla, sans-serif;
  font-weight: 500;
}

.primary-btn:hover {
  background: #ffffff;
  color: #000000;
  border: solid 5px black;
}

.primary-btn:active {
  background: #000000;
  color: #ffffff;
}
